.nav {
  display: flex;
  justify-content: space-between;
}
.nav h1 {
  color: rgb(87, 0, 128);
  margin: 0;
  font-size: 40px;
}
.nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.nav li {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: rgb(238, 237, 237);
  border-radius: 30px;
}
.nav li a {
  text-decoration-line: none;
  color: rgb(87, 0, 128);

}
.navigation-bar {
  margin-top: 5px;
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.navigation-bar input{
  flex: 1;
  border-radius: 18px;
  height: 35px;
  border: 1px solid rgb(87, 0, 128);

}

.navigation-bar button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgb(87, 0, 128);
}

button img {
  height: 22px;
  transform: scaleX(-1);
}
